.streams-list-page {
    padding: 20px;
    background-color: #242424;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .streams-list-page h1 {
    margin-bottom: 20px;
    color: #00BCD4;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px; /* Limit the width of the list */
  }
  
  .stream-item {
    background-color: #1a1a1a;
    padding: 20px; /* Increase padding for better spacing */
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add transitions for hover effects */
  }
  
  .stream-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .stream-info {
    flex: 3; /* Allow stream info to take more space */
  }
  
  .stream-button {
    flex: 1; /* Allow button to take less space */
    display: flex;
    justify-content: flex-end;
  }
  
  .watch-button {
    background-color: #00BCD4;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
  }
  
  .watch-button:hover {
    background-color: #0097a7;
  }
  