/* App.css */
.App {
  text-align: center;
  padding: 4rem;
  color: white;
  background-color: #242424; /* Ensure the background color is applied */
}

.livestream-container {
  margin-bottom: 2rem;
}

.competition-bar-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.voting-buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
  